<app-product-form (productAdded)="onProductAdded($event)"></app-product-form><br>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th> Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>
      <button (click)="deleteOneProduct(product)"class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>

